<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${gola}"></title>
</head>
<body>
    <h1>Lista de usuarios</h1>

    <ul>
        <li th:text="${Empleado.nombre}"></li>
        <li th:text="${Empleado.apellidoP}"></li><!--Ternearios para Thymeleaf-->
        <li th:text="${Empleado.apellidoM != null ? Empleado.apellidoM : 'No tiene apellido materno'}"></li>
        <li th:text="${Empleado.puesto}"></li>
        <li th:text="${Empleado.sueldo}"></li>
    </ul>

</body>
</html>