<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${gola}"></title>
</head>
<body>
    <h1>Lista de usuarios</h1>

    <ul>
        <li th:text="${Empleado.nombre}"></li>
        <li th:text="${Empleado.apellidoP}"></li><!--Ternearios para Thymeleafs-->
        <li th:text="${Empleado.apellidoM != null ? Empleado.apellidoM : 'No tiene apellido materno'}"></li>
        <li th:text="${Empleado.puesto}"></li>
        <li th:text="${Empleado.sueldo}"></li>
    </ul>

    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ap. Paterno</th>
                <th>Ap. Materno</th>
                <th>Puesto</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="emp : ${empleados}">
                <td th:text="${emp.nombre}"></td>
                <td th:text="${emp.apellidoP}"></td>
                <td th:text="${emp.apellidoM != null ? emp.apellidoM : 'No tiene apellido materno'}"></td>
                <td th:text="${emp.puesto}"></td>
                <td th:text="${emp.sueldo}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>